<footer style="position:fixed;
left:0px;
bottom:0px;
height:30px;
width:100%;
text-align: center;">
    <nav class="navbar fixed-bottom navbar-dark bg-dark">
    <h6 class="display-6 navbar-text">&reg;2023. Student: Radmir Taskynbeyev. ID: 301239725</h6>
    </div>
    </nav>
    </footer>   